<form novalidate [ngrxFormState]="personForm$ | async">
  <!-- ngrxFormState defines the Form -->
  <label>First Name:</label>
  <input
    type="text"
    [ngrxFormControlState]="(personForm$ | async).controls.firstName"
  /><!-- ngrxFormControlState defines the field-->
  <label>Last Name:</label>
  <input
    type="text"
    [ngrxFormControlState]="(personForm$ | async).controls.lastName"
  />
  <label>Age:</label>
  <input
    type="number"
    [ngrxFormControlState]="(personForm$ | async).controls.age"
  />
</form>
